@import "../../styles/variables.css";

.breed-modal-content {
    max-width: 1400px;
  }
  
  .breed-header {
    margin-bottom: 40px;
  }
  
  .breed-header h2 {
    font-size: 2.2rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    border: none;
  }
  
  .breed-header p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 20px;
  }
  
  .breed-details {
    margin-top: 20px;
    padding: 25px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    line-height: 1.8;
    font-size: 1.1rem;
  }
  
  .breed-details p {
    margin-bottom: 10px;
  }
  
  .breed-details a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .breed-details a:hover {
    text-decoration: underline;
  }
  
  .breed-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
  }
  
  .breed-image-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--primary-shadow);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
  }
  
  .breed-image-card:hover {
    transform: scale(1.05);
    box-shadow: var(--card-shadow-hover);
  }
  
  .breed-image-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
  }
